#!/bin/bash

# Set bash as our shell, idk why anyone would use something else ;)
shell="$(which bash)";
export SHELL="$shell";

# Add usr bin to path
if [ -d "$HOME/bin" ] ; then
    if [[ $PATH != *"${HOME}/bin"* ]]; then
        export PATH="${HOME}/bin:${PATH}"
    fi
fi

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

#help gpg tty
export GPG_TTY=$(tty)

#add golang bin dir to path
export PATH=$PATH:/usr/local/go/bin
