[user]
    name  = {{ .name  }}
    email = {{ .email }}
    signingkey = {{ .signing_key }}

[commit]
    gpgsign=true

{{ if .inwsl }}
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ else if (eq .osid "darwin") -}}
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
{{ end -}}
[credential "https://dev.azure.com"]
	useHttpPath = true

[core]
    excludesFile = {{ joinPath .chezmoi.homeDir ".config/git/global.gitignore" }}

[init]
    templateDir = {{ joinPath .chezmoi.homeDir ".config/git/template" }}

{{ if eq .chezmoi.os "windows" -}}

[gpg]
        program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
{{ end }}
{{ if eq .chezmoi.os "linux" -}}
[gpg]
{{    if stat ("/usr/local/bin/gpg") -}}
        program = /usr/local/bin/gpg
{{    else if stat ("$HOME/.local/bin/gpg" | expandenv) -}}
        program = {{ "$HOME/.local/bin/gpg" | expandenv }}
{{    else -}}
        program = gpg
{{    end -}}
{{ end }}
