[user]
    name  = {{ .name  }}
    email = {{ .email }}
    signingkey = {{ .signing_key }}

[commit]
    gpgsign=true
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
