[user]
    name  = {{ .name  }}
    email = {{ .email }}
    signingkey = {{ .signing_key }}

[commit]
    gpgsign=true
{{ if (eq .osid "darwin") -}}
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
{{ end -}}
[credential "https://dev.azure.com"]
	useHttpPath = true

[core]
    excludesFile = {{ joinPath .chezmoi.homeDir ".config/git/global.gitignore" }}

[init]
    templateDir = {{ joinPath .chezmoi.homeDir ".config/git/template" }}
