{{- if ne .osid "darwin" }}
# ignore .zsh files unless running on mac
.zprofile
.zshrc
.config/zsh/
Library

# ignore darwin scripts unless running on darwin
.chezmoiscripts/darwin*
{{- end }}
{{- if ne .osid "linux-fedora"}}
.bashrc.d/toolbox.sh
{{- end }}

{{- if ne .osid "linux-debian"}}
.chezmoiscripts/debian*
{{- end }}

{{- if ne .inwsl }}
.local/bin/gpg
.local/bin/ssh
.local/bin/ssh-add
.local/bin/scp
{{- end }}