enable-ssh-support
{{ if (eq .osid "linux-fedora" ) -}}
pinentry-program /usr/bin/pinentry
{{end -}}
{{ if (eq .osid "darwin") -}}
pinentry-program /usr/local/bin/pinentry-mac
{{ end -}}
enable-ssh-support
write-env-file
use-standard-socket
default-cache-ttl 600
max-cache-ttl 7200
