{{/* add a comment to circomvent shellcheck errors on templates with shebang */}}
#! /bin/sh
{{- if eq .osid "linux-fedora"}}
alias code="code --enable-features=UseOzonePlatform --ozone-platform=wayland"
{{- end }}